body {
    margin: 0;
}

.App {
    background-color: rgb(33, 33, 33);
    color: white;
    height: 100vh;
    display: flex;
    flex-direction: column;
}

.breadcrumbsWrapper {
    margin: 15px auto 50px 25px;
}

.content {
    display: flex;
    flex-wrap: wrap;
}
